.title{
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.do{
  color: white;
  text-align: center;
  font-size:  30px;
}

.deci{
  display: flex;
  margin: 20px auto;
  width: 200px;
  background-color: white;
  justify-content: center;
  color: #669933;
  font-size: 40px;
}

.btn{
  display: flex;
  font-size: 30px;
  margin: 35px auto 0px;
  cursor: pointer;
  border-color: black;
  border: 2px;
  border-radius: 5px;
  background-color: white;
  color: #669933;
  height: 50px;
  width: 200px;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover{
  background-color: white;
  color: black;
}

body {
  background-color: #669933;
}
